<div class="c-actions-bar js-items-actions">
  <div
    class="c-actions-bar__action {{if @openMoveDialog "" "is-disabled"}}"
    {{action (optional @openMoveDialog)}}
  >
    {{svg-jar "move" class="c-actions-bar__icon"}}

    <div class="c-actions-bar__text">
      {{t "actions-bar.c-actions-bar.move"}}
    </div>

    {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
      {{t "actions-bar.c-actions-bar.move_selected"}}
      <br>{{t "actions-bar.c-actions-bar.to_other_list"}}
    {{/attach-tooltip}}
  </div>

  <div
    class="c-actions-bar__action"
    {{action @openWhenDialog}}
  >
    {{svg-jar "upcoming" class="c-actions-bar__icon"}}

    <div class="c-actions-bar__text">
      {{t "actions-bar.c-actions-bar.when"}}
    </div>

    {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
      {{t "actions-bar.c-actions-bar.when_to_start"}}
      <br>{{t "actions-bar.c-actions-bar.today_later"}}
    {{/attach-tooltip}}
  </div>

  {{#if @isInTrashList}}
    <div class="c-actions-bar__action" {{action @undelete}}>
      {{svg-jar "redo" class="c-actions-bar__icon"}}

      <div class="c-actions-bar__text">
        {{t "actions-bar.c-actions-bar.put_back"}}
      </div>

      {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
        {{t "actions-bar.c-actions-bar.recover_selected"}}
      {{/attach-tooltip}}
    </div>
  {{else}}
    <div class="c-actions-bar__action" {{action @delete}}>
      {{svg-jar "delete2" class="c-actions-bar__icon c-actions-bar__icon--delete"}}

      <div class="c-actions-bar__text">
        {{t "actions-bar.c-actions-bar.delete"}}
      </div>

      {{#attach-tooltip hideOn="mouseleave click" showDelay="700"}}
        {{t "actions-bar.c-actions-bar.delete_selected"}}
      {{/attach-tooltip}}
    </div>
  {{/if}}

  {{#basic-dropdown
    class="c-dropdown"
    horizontalPosition="center"
    verticalPosition="above"
    as |dropdown|
  }}
    {{#dropdown.trigger class="c-dropdown__trigger c-actions-bar__action"}}
      {{svg-jar "more" class="c-dropdown__trigger-icon c-actions-bar__icon"}}
    {{/dropdown.trigger}}

    {{#dropdown.content class="c-dropdown__content c-actions-bar__dropdown-content js-items-actions"}}
      <div class="c-dropdown__content-inner">
        <div class="c-dropdown__section">
          {{#if @openTagsDialog}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @openTagsDialog)}}
            >
              {{svg-jar "tag" class="c-dropdown__item-icon"}}

              <div class="c-dropdown__item-text">{{t "actions-bar.c-actions-bar.set_tags"}}</div>
            </div>
          {{/if}}

          {{#if @openDeadlineDialog}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @openDeadlineDialog)}}
            >
              {{svg-jar "flag" class="c-dropdown__item-icon"}}

              <div class="c-dropdown__item-text">{{t "actions-bar.c-actions-bar.set_deadline"}}</div>
            </div>
          {{/if}}

          {{#if @markAsNew}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @markAsNew)}}
            >
              {{svg-jar "mark-as-uncompleted" class="c-dropdown__item-icon"}}

              <div class="c-dropdown__item-text">{{t "actions-bar.c-actions-bar.mark_incomplete"}}</div>
            </div>
          {{/if}}

          {{#if @markAsCompleted}}
            <div
              class="c-dropdown__item c-actions-bar__dropdown-item"
              {{action (queue dropdown.actions.close @markAsCompleted)}}
            >
              {{svg-jar "mark-as-completed" class="c-dropdown__item-icon"}}

              <div class="c-dropdown__item-text">{{t "actions-bar.c-actions-bar.mark_completed"}}</div>
            </div>
          {{/if}}

          <div
            class="c-dropdown__item c-actions-bar__dropdown-item"
            {{action (queue dropdown.actions.close @markAsCanceled)}}
          >
            {{svg-jar "mark-as-canceled" class="c-dropdown__item-icon"}}

            <div class="c-dropdown__item-text">{{t "actions-bar.c-actions-bar.mark_canceled"}}</div>
          </div>
        </div>
      </div>
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>