{{#if @project.isProcessed}}
  <div
    class="c-checkbox c-checkbox--project is-checked js-checkbox {{if @isBig "c-checkbox--big"}}"
    title={{t "project-checkbox.c-checkbox.mark_uncompleted"}}
    {{action @markProjectAsNew}}
  >
    {{#if @project.isCompleted}}
      {{svg-jar "checkbox-mark" class="c-checkbox__icon"}}
    {{else}}
      {{svg-jar "cancel" class="c-checkbox__icon c-checkbox__icon--cancel"}}
    {{/if}}
  </div>
{{else}}
  {{#let (and @project.isSomeday (not @project.isCompleted)) as |isSomeday|}}
    <div
      class="c-checkbox c-checkbox--pie js-checkbox {{if @isBig "c-checkbox--big"}} {{if isSomeday "c-checkbox--someday"}}"
      title={{t "project-checkbox.c-checkbox.mark_completed"}}
      {{action (optional (if @project.hasActiveTasks null @markProjectAsCompleted))}}
    >
      {{progress-pie
        progress=@project.progress
        isDashedBorder=isSomeday
      }}

      {{#attach-popover
        class="c-popover"
        placement="bottom"
        showOn="click"
        hideOn="clickout escapekey"
      }}
        <div class="c-popover__inner">
          <div class="c-popover__title">
            {{t "project-checkbox.popover.title" count=@project.activeTasks.length}}
            {{t "project-checkbox.popover.what_todo" count=@project.activeTasks.length}}
          </div>

          <div
            class="c-popover__option"
            {{action @markProjectAsCompleted "completed"}}
          >
            {{t "project-checkbox.c-checkbox.mark_completed"}}
          </div>

          <div
            class="c-popover__option"
            {{action @markProjectAsCompleted "canceled"}}
          >
            {{t "project-checkbox.c-checkbox.mark_canceled"}}
          </div>
        </div>
      {{/attach-popover}}
    </div>
  {{/let}}
{{/if}}