<div class="c-fs-dialog" data-test-shortcuts>
  <div class="c-fs-dialog__inner">
    <div class="c-fs-dialog__body">
      <div class="c-fs-dialog__header">
        <div class="c-fs-dialog__buttons-wrap"></div>

        <div class="c-fs-dialog__title">
          {{t "shortcuts-dialog.keyboard_shortcuts"}}
        </div>

        <div class="c-fs-dialog__buttons-wrap">
          <button class="c-fs-dialog__close" {{action @close}}>
            {{t "shortcuts-dialog.close"}}
          </button>
        </div>
      </div>

      <div class="c-shortcuts">
        <div class="c-shortcuts__section">
          <div class="c-shortcuts__title">
            {{t "shortcuts-dialog.global"}}
          </div>

          <div class="c-shortcuts__list">
            <div class="c-shortcuts__column">
              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.create"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.n"}}</kbd>
                </div>
              </div>
            </div>
            <div class="c-shortcuts__column">
              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.keyboard_shortcuts"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.?"}}</kbd>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-shortcuts__section">
          <div class="c-shortcuts__title">
            {{t "shortcuts-dialog.items_list"}}
          </div>

          <div class="c-shortcuts__list">
            <div class="c-shortcuts__column">
              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.edit_selected"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.enter"}}</kbd>
                </div>
              </div>

              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.delete_selected"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.delete"}}</kbd>
                </div>
              </div>
            </div>

            <div class="c-shortcuts__column">
              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.select_above"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.up"}}</kbd>
                </div>
              </div>

              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.select_below"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.down"}}</kbd>
                </div>
              </div>

              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.extend_upwards"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.shift"}}</kbd>
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.up"}}</kbd>
                </div>
              </div>

              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.extend_downwards"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.shift"}}</kbd>
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.down"}}</kbd>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-shortcuts__section">
          <div class="c-shortcuts__title">
            {{t "shortcuts-dialog.edit"}}
          </div>

          <div class="c-shortcuts__list">
            <div class="c-shortcuts__column">
              <div class="c-shortcuts__item">
                <div class="c-shortcuts__info">
                  {{t "shortcuts-dialog.save_close"}}
                </div>
                <div class="c-shortcuts__keys">
                  <kbd class="c-shortcuts__key">{{t "shortcuts-dialog.c-shortcuts-key.esc"}}</kbd>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
