<div class="c-sidebar-nav__section">
  {{#link-to "inbox" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "inbox" class="c-icon c-icon--inbox c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.inbox"}}
    </div>

    {{#let (filter-by "isShownInInbox" this.data.tasks) as |inboxItems|}}
      {{#if inboxItems}}
        <div class="c-sidebar-nav__counter">
          {{inboxItems.length}}
        </div>
      {{/if}}
    {{/let}}
  {{/link-to}}
</div>

<div class="c-sidebar-nav__section">
  {{#link-to "today" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "today" class="c-icon c-icon--today c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.today"}}
    </div>

    {{#let (filter-by "isShownInToday" this.data.tasksAndProjects) as |todayItems|}}
      {{#if todayItems}}
        <div class="c-sidebar-nav__counter">
          {{todayItems.length}}
        </div>
      {{/if}}
    {{/let}}
  {{/link-to}}

  {{#link-to "anytime" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "anytime" class="c-icon c-icon--anytime c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.anytime"}}
    </div>
  {{/link-to}}

  {{#link-to "upcoming" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "upcoming" class="c-icon c-icon--upcoming c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.upcoming"}}
    </div>
  {{/link-to}}

  {{#link-to "someday" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "someday" class="c-icon c-icon--someday c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.someday"}}
    </div>
  {{/link-to}}
</div>

<div class="c-sidebar-nav__section">
  {{#link-to "logbook" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "logbook" class="c-icon c-icon--logbook c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.logbook"}}
    </div>
  {{/link-to}}

  {{#link-to "trash" class="c-sidebar-nav__item" activeClass="is-active"}}
    {{svg-jar "trash" class="c-icon c-icon--trash c-icon--18"}}

    <div class="c-sidebar-nav__text">
      {{t "sidebar-nav.c-sidebar-nav-text.trash"}}
    </div>
  {{/link-to}}
</div>

{{#sortable-group class="c-sidebar-nav__section" onChange=@reorderItems as |group|}}
  {{#animated-container}}
    {{#animated-each (sort-by "order" (filter-by "isActive" true this.data.projects)) use=eachTransition duration=200 as |project|}}
      {{#sortable-item
        model=project
        group=group
        distance=2
      }}
        {{#link-to "project" project.id class="c-sidebar-nav__item-wrap" activeClass="is-active"}}
          <div class="c-sidebar-nav__item" {{action "fixFocusOut"}}>
            {{progress-pie class="c-icon c-icon--project c-icon--18" progress=project.progress}}

            <div class="c-sidebar-nav__text">
              {{or project.name (t "item-project.placeholder")}}
            </div>
          </div>
        {{/link-to}}
      {{/sortable-item}}
    {{/animated-each}}
  {{/animated-container}}
{{/sortable-group}}
